@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

:root {
    --base-white: #fff;
    --color-whitesmoke-100: #f9fafb;
    --gray-100: #aeb0b3ad;
    --color-whitesmoke-200: #eaecf0;
    --gray-500: #667085;
    --primary-600: #7f56d9;
    --gray-600: #475467;
    --gray-700: #2d3749;
    --gray-300: #d0d5dd;
    --gray-900: #101828;
    --color-gray-100: rgba(255, 255, 255, 0.5);
    --color-gray-200: rgba(255, 255, 255, 0.3);
    --color-gray-300: rgba(255, 255, 255, 0.9);
    --primary-700: #a41de7;
    --primary-800: #53389e;
    --primary-200: #e9d7fe;
    --primary-50: #f9f5ff;
    --border-gray: rgb(217, 213, 213);
    --color-mistyrose: #f4d9d0;
}

.header {

    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;



}

.logo {
    display: flex;
    font-size: 20Px;
    font-weight: bold;
    color: black;
    align-items: center;



}

.logo-text {
    margin-left: 10px;
    vertical-align: middle
}

header ul li {
    display: inline-block;
    margin: 0px 20px;
    color: var(--gray-700);
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: all ease 0.3s;

}


// sub menu

header ul .submenu {
    position: absolute;
    width: 200px;
    background-color: var(--base-white);
    box-shadow: 0 20px 45px var(-gray-900);
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
    color: var(--gray-700);
}

.navbar ul.nav-ul li a,
header ul .submenu li a {
    color: var(--gray-700);
}


header ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

header ul .submenu li a {
    margin: 01;
    width: 100%;

}

.nav-ul i {
    margin-left: 10px;
    font-size: 14px;
}

header ul .submenu li a {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}

.navbar {
    flex: 1;
    padding-left: 60px;
}

.navbar a:hover {
    color: #6941c6;

}

.nav_buttons a:hover {
    color: #6941c6;
}

.nav_buttons a {
    color: var(--gray-700);
    font-weight: 600;
    padding-right: 30px;
}

.signup {
    background-color: var(--primary-700);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

section {
    padding: 0% 8%;
}

.main-home {
    width: 100%;
    height: 100vh;
    background-image: url(../Assets/mainbanner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;


}

.main-text {
    padding: 20px;
}


.hiring {
    display: flex;
    align-items: center;
    position: relative;
    width: 370px;
    height: 45px;
    background: white;
    border: 1px solid var(--border-gray);
    border-radius: 12px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 30px;

}

.wehire-border {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    height: 35px;
    width: 150px;
    // padding:0px ;



}


.hiring p {
    padding-left: 0px;
}

.dot-icon {
    padding-left: 10px;
    padding-right: 5px;
    height: 20px;
}

.hiring .join,
i {
    padding-left: 10px;

}

.main-text h1 {
    color: #000;
    font-size: 60px;
    margin-bottom: 20px;


}

.powerful-txt {
    color: var(--gray-200);
    font-weight: 200;
    font-size: medium;
    margin-bottom: 30px;
}

label {
    position: relative;

}

input[type="text"] {
    border: 1px solid var(--border-gray);
    border-radius: 10px;
    width: 370px;
    height: 40px;
    padding: 0 10px;

}

.getstarted {
    background-color: var(--primary-700);
    border: none;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.policy {
    color: var(--gray-100);
    font-size: small;
}

.policy-link {
    text-decoration: underline;
    color: inherit;
}

// Menu toggler

#menu-icon {
    font-size: 20px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.companies {

    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: #f1f2f5a9;
    justify-content: center;
    align-items: center;
}

.companies p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.companies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.companies-list img{
    margin: 0 10px;
    max-width: 100%;
    margin-bottom: 30px;    
    
}

// Features

.features{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 8%;
}
.features-main {
    max-width: 600px; /* Adjust the maximum width as needed */
    text-align: center;
}

.fheading{
    margin-top: 50px;
    color: #a90ef7;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 20px;
}

.features-main h2{
    margin-bottom: 15px;
}

.opentxt{
    font-size: 13px;
    color: var(--gray-700);
    font-weight: 300;
    margin-bottom: 20px;
}









@media (max-width: 1350px) {
    nav {
        padding: 20px 5%;
    }

    .main-home {
        padding: 0px 5%;
    }
    .companies{
        height: 40vh;
        
    }
    
    .companies-list img{
         width: 30%;
         margin: 10px;
        
    }
    

}

@media (max-width: 950px) {
    nav {
        padding: 20px 5%;
    }

    .main-home {
        padding: 0px 4%;
    }

    .logo-text {
        font-size: medium;
    }

    header ul li {

        font-size: small;
    }

    .nav_buttons a {
        font-size: small;
    }

    .signup {
        font-size: small;
        padding: 10px 10px;

    }

    .hiring {
        font-size: 10px;
        width: 270px;
        height: 40px;

    }

    .wehire-border {
        height: 30px;
        width: 110px;
    }

    .main-text h1 {
        font-size: 48px;
    }

    .powerful-txt {}

    input[type="text"] {
        width: 300px;
        height: 40px;

    }

    .getstarted {
        background-color: var(--primary-700);
        border: none;
        color: white;
        padding: 12px 18px;
        border-radius: 8px;
        cursor: pointer;
    }

    .policy {
        color: var(--gray-100);
        font-size: small;
    }

    .policy-link {
        text-decoration: underline;
        color: inherit;
    }

}

@media (max-width: 860px) {

    #menu-icon {
        display: block;

    }

    .header {
        justify-content: space-between;
    }

    .navbar {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #96b7f5;
        transition: all .50s ease;
        text-align: left;
        color: #ffffff;
    }

    .navbar.open {
        top: 10%;
    }


    .nav_buttons a {
        font-size: small;
    }

    .signup {
        font-size: small;
        padding: 10px 10px;

    }

    .hiring {
        font-size: 10px;
        width: 270px;
        height: 40px;

    }

    .wehire-border {
        height: 30px;
        width: 110px;
    }

    .main-text h1 {
        font-size: 48px;
    }

    .powerful-txt {}

    input[type="text"] {
        width: 300px;
        height: 40px;

    }

    .getstarted {
        background-color: var(--primary-700);
        border: none;
        color: white;
        padding: 12px 18px;
        border-radius: 8px;
        cursor: pointer;
    }

    .policy {
        color: var(--gray-100);
        font-size: small;
    }

    .policy-link {
        text-decoration: underline;
        color: inherit;
    }
}

@media (max-width: 860px) {



    .header {
        justify-content: space-between;
    }

    .navbar {
        padding: 1%;
    }

    header ul li {
        font-size: smaller;
    }

    .navbar.open {
        top: 10%;
    }


    .nav_buttons a {
        font-size: smaller;
        padding-right: 0;
    }

    .signup {
        font-size: small;
        padding: 10px 10px;
        margin-left: 0;

    }

    .hiring {
        font-size: 10px;
        width: 270px;
        height: 40px;

    }

    .wehire-border {
        height: 30px;
        width: 110px;
    }

    .main-text h1 {
        font-size: 35px;
    }

    .powerful-txt {
        font-size: 10px;
        font-weight: 400;
    }

    input[type="text"] {
        width: 250px;
        height: 35px;
        margin-bottom: 10px;

    }

    .getstarted {

        padding: 10px 12px;
        border-radius: 8px;
        margin-bottom: 10px;

    }

    .policy {
        font-weight: 500;
        font-size: small;
    }


}